<!--   
  <div class="row">
    <div class="col-md-4">

  <div *ngFor = "let event of eventData">
 {{event.name}}
  {{event._description}}
  <img [src]= "event.promo_image?.url">
</div> -->
<tc-card class="mb-0">
  <tc-table [rows]="events" [hovered]="true" [pagination]="true" [headerBgColor]="'#336cfb'" [headerColor]="'#fff'">
    <tc-table-col [columnTitle]="'events'" [columnName]="'events'">
      <ng-template #tableTDTemplate let-deleted>

        {{deleted}}
      

      </ng-template>
    </tc-table-col>
    <!-- {{value}} -->
  </tc-table>

</tc-card>
<!-- </div>
 </div> -->